<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand navtext" href="/customer/home">The Traveller's Guide</a>
  <button class="navbar-toggler navtext" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navtext"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-md-auto"> 
    <li class="nav-item"><a class="nav-link navtext" href="/customer/package">Packages</a></li>
    <li class="nav-item"><a class="nav-link navtext" href="/customer/reservation">Reservations</a></li>
    <li class="nav-item"><a class="nav-link navtext" href="/customer/mydetails">My Details</a></li>
    <li class="nav-item"><a class="nav-link navtext" href="/logout">Logout</a></li>
  </ul>
  </div>
</nav>