
{{!-- <div class="banner about-bg">
		<div class="top-banner about-top-banner">
			<div class="container">
				<div class="top-banner-left">
					<ul>
						<li>TouristResApp</li>
						<li><a href="mailto:example@email.com"><i class="fa fa-envelope" aria-hidden="true"></i> touristresapp@gmail.com</a></li>
					</ul>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header">
			<div class="container">
				<div class="logo">
					
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
							</button>
						
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="sigiriya.html">Back</a></li>
								
								<div class="clearfix"> </div>
							</ul>	
						</div>	
					</nav>		
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> --}}
    
    <div class="a-grid">
		<div class="container">
			<div class="w3l-about-heading">
				<h2>Our Gallery</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
			</div>
			<div class="gallery">	
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a href="/layout/images/g1.jpg" class="big"><img src="/layout/images/g1.jpg" alt=""  /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g2.jpg"><img src="/layout/images/g2.jpg" alt="" title="Lion paws"/></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g3.jpg"><img src="/layout/images/g3.jpg" alt="" /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g4.jpg"><img src="/layout/images/g4.jpg" alt="" title="Hotel Sigiriya"/></a>
					</div>
				</div>
				<div class="clearfix"></div>
				
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g5.jpg"><img src="/layout/images/g5.jpg" alt="" /></a>
					</div>
				</div>
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a href="/layout/images/g7.jpg" class="big"><img src="/layout/images/g7.jpg" alt="" title="Sigiriya Arts" /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g6.jpg"><img src="/layout/images/g6.jpg" alt="" /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g8.jpg"><img src="/layout/images/g8.jpg" alt="" title="Hotel Sigiriya"/></a>
					</div>
				</div>
				<div class="clearfix"></div>
				
				<div class="gallery-bg">
					<div class="gallery-bg-text effect-2">
						<a href="/layout/images/g9.jpg" class="big"><img src="/layout/images/g9.jpg" alt=""  /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g2.jpg"><img src="/layout/images/g2.jpg" alt="" /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g5.jpg"><img src="/layout/images/g5.jpg" alt="" /></a>
					</div>
				</div>
				<div class="gallery-small gallery-middle">
					<div class="gallery-small-text effect-3">
						<a href="/layout/images/g6.jpg"><img src="/layout/images/g6.jpg" alt="" /></a>
					</div>
				</div>
				<div class="clearfix"></div>
				
			</div>
			<script type="text/javascript" src="js/simple-lightbox.js"></script>
			<script>
				$(function(){
					var $gallery = $('.gallery a').simpleLightbox();
					
					$gallery.on('show.simplelightbox', function(){
						console.log('Requested for showing');
					})
					.on('shown.simplelightbox', function(){
						console.log('Shown');
					})
					.on('close.simplelightbox', function(){
						console.log('Requested for closing');
					})
					.on('closed.simplelightbox', function(){
						console.log('Closed');
					})
					.on('change.simplelightbox', function(){
						console.log('Requested for change');
					})
					.on('next.simplelightbox', function(){
						console.log('Requested for next');
					})
					.on('prev.simplelightbox', function(){
						console.log('Requested for prev');
					})
					.on('nextImageLoaded.simplelightbox', function(){
						console.log('Next image loaded');
					})
					.on('prevImageLoaded.simplelightbox', function(){
						console.log('Prev image loaded');
					})
					.on('changed.simplelightbox', function(){
						console.log('Image changed');
					})
					.on('nextDone.simplelightbox', function(){
						console.log('Image changed to next');
					})
					.on('prevDone.simplelightbox', function(){
						console.log('Image changed to prev');
					})
					.on('error.simplelightbox', function(e){
						console.log('No image found, go to the next/prev');
						console.log(e);
					});
				});
			</script>
		</div>
	</div>
    
     <div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<div class="footer-grid-heading">
						<h4>Address</h4>
					</div>
					<div class="footer-grid-info">
						<p>General Sir John Kotelawala Defence University
							<span>Ratmalana</span>
						</p>
						<p class="phone">011 2562 366
							<span>Email : <a href="mailto:example@email.com">touristresapp@gmail.com</a></span>
						</p>
					</div>
				</div>
				<div class="col-md-3 footer-grid">
					<div class="footer-grid-heading">
						<h4>Navigation</h4>
					</div>
					<div class="footer-grid-info">
						<ul>
							<li><a href="sigiriya.html">Home</a></li>
							
						</ul>
					</div>
				</div>
				<div class="col-md-3 footer-grid">
					<div class="footer-grid-heading">
						<h4>Follow</h4>
					</div>
					<div class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<div class="copyright">
				<p>© 2017 TouristResApp. All Rights Reserved  </p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script src="js/SmoothScroll.min.js"></script>