<h2 class="page-header">TouristResApp Login</h2>

<a class="btn btn-primary" href="/customer/login" role="button">Customer Login</a>
<a class="btn btn-primary" href="/agency/login" role="button">Agency Login</a>
<a class="btn btn-primary" href="/admin/login" role="button">Admin Login</a>