<h2 class="page-header">TouristResApp Register</h2>

<a class="btn btn-primary" href="/customer/register" role="button">Customer Register</a>
<a class="btn btn-primary" href="/agency/register" role="button">Agency Register</a>
<a class="btn btn-primary" href="/admin/register" role="button">Admin Register</a>